body {background-color:#f0eceb;
	}

.container {/*background-color: navy;*/
			float: left;
			clear: right;
			font-family: "Indie Flower", cursive;
			/*color: white;*/
			border-bottom: solid;
			border-color: #729f98;
			border-bottom-width: 15px;}

img {box-shadow: 0 2px 6px;
		clear: both;}			
header {clear:both;}
#me {clear: both;}
#objective {clear: both;
			font-family: "Indie Flower", cursive;
			/*border-style: solid;
			border-color: #312c32;*/
			width: 75%;}
.nav-main li {display: inline; text-align: left;
			background: transparent;
			padding: 20px 20px;
			transition: background .5s ease;
			background-color:#daad86;}
		
.nav-main li a{ color: black; 
		transition: background .5s ease, color .5s ease;
		font-family: 'Indie Flower', cursive;}


.nav-main li a:hover{ 
	color:#312c32; background: #98dafc;
	opacity: .3;
	border-radius: 20%}

.navbar {/*background-color: #98dafc;*/
		text-align: left;
		border-bottom: solid;
		border-color: #729f98;
		border-bottom-width: 10px;}
.text {font-size: 25px;}

